*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
.externalNativeBuild
.idea

# only the /gradle.properties.template is checked into version control
/gradle.properties

# git backup files
*.orig
